
body{
    margin: 0px;
    text-align: center;
    font-family: 'Merriweather', serif;
    color: #7fe7f1;
}
p{
    color: #40514e;
}

h1{
    font-size: 5rem;
    font-family: cursive;
    margin: 50px auto 0 auto;
}

h2{
    font-size: 30px;
}
h3{
    color: #97d8dc;
}

hr{
    border: dotted #c7caca 6px;
    border-bottom: none;
    width: 4%;
    margin: 120px auto 100px auto;
}

.top-container{
    position: relative;
    padding-top: 100px;
    background-color: #edf8f8;
}
.bottom-container{
    background-color: #3ebee1;
    padding: 50px 0 20px;
    margin-top: 50px;
}

.profile{
    width: 30%;
    margin: 50px auto 0 auto;
}

.work{
    width: 50%;
    margin: 100px auto 0 auto;
}
.heading-work{
    margin-bottom: 100px;
}
.work-web{
    text-align: left;
    margin-bottom: 100px;
}
.work-amb{
    text-align: left;
    margin-bottom: 100px;
}

.edu{
    width: 40%;
    margin: 0 auto 100px auto;
    text-align: left;
}
.heading-edu{
    margin-bottom: 100px;
    text-align: center;
}
.right{
    text-align: center;
}
.edu-vit{
    margin-bottom: 50px;
}

.btn {
    background: #bbd9ed;
    background-image: -webkit-linear-gradient(top, #bbd9ed, #2fa3eb);
    background-image: -moz-linear-gradient(top, #bbd9ed, #2fa3eb);
    background-image: -ms-linear-gradient(top, #bbd9ed, #2fa3eb);
    background-image: -o-linear-gradient(top, #bbd9ed, #2fa3eb);
    background-image: linear-gradient(to bottom, #bbd9ed, #2fa3eb);
    -webkit-border-radius: 12;
    -moz-border-radius: 12;
    border-radius: 12px;
    font-family: Georgia;
    color: #ffffff;
    font-size: 20px;
    background: #3498db;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
} 
.btn:hover {
    background: #3cb0fd;
    background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
    background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
    text-decoration: none;
}
.footer-link{
    text-decoration: none;
    color: #0181eb;
    margin: 0 20px;
}
.copyright{
    color: white;
}

.bird1-img{
    position: absolute;
    right: 200px;
    top: 10px;
    width: 10%;
}
.bird2-img{
    position: absolute;
    left: 100px;
    top: 300px;
    width: 10%;
}
.cloud-img{
    position: absolute;
    top: 300px;
    left: 250px;
    width: 10%;
}
.mountain-img{
    width: 45%;
}
.profile-img{
    margin-top: 20px;
    border-radius: 200px;
    width: 200px;
}
.web-img{
    width: 150px;
    float: right;
    margin-left: 50px;
}
.amb-img{
    width: 150px;
    float: left;
    margin-right: 30px;
}

.vit-img{
    float: right;
    width: 100px;
}
.aakash-img{
    width: 100px;
    float: right;
}
